*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


#idarea1 {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 500px;
  }


  #idarea2 {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 500px;
  }



  d {
	background-color: #FFFACD;
	font-family: Calibri Light;
	color:rgb(22, 21, 21);
	text-decoration: underline;
	text-decoration-color: rgb(129, 34, 218);
	
} 

r {

	font-family: Calibri Light;
	color:rgb(235, 13, 13);
    
}

v {
    
	font-family: Calibri Light;
	color:rgb(17, 143, 38);
	
}


.main{
    background-color: rgb(219, 215, 215);
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;;
    align-items: center;
    gap: 10px;
}






.producer{
   
    display: flex;
    border-style: ridge;
    background-color: rgb(229, 238, 230);
    flex-direction: column;
    padding: 15px;
    margin: 15px;;
    gap: 10px;
}



.container-splitMinuto{

    border-style: ridge;
    background-color: rgb(253, 211, 162);
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.container-add{
    border-style: ridge;
    background-color: rgb(253, 211, 162);
    padding: 10px;
    width: 50px;
}


.min-texto{
    border-style: ridge;
    background-color: rgb(253, 211, 162);
    padding: 10px;

}



.bntX{
    padding: 5px;  
}

.bntX:hover{
    
        color: rgb(214, 33, 93);
        text-decoration: underline;
        cursor: pointer;
      
    
      
}


.container-adicionaItens{
    display: flex;
    align-items: center;
    border-style: ridge;
    flex-direction: row;
    gap:25px;
    padding: 10px;
}


.container-tagTexto{
    background-color: whitesmoke;
}



.styX:hover {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
  
}

.btn_ID{
    padding: 3px;
    width: 20px;
    margin: 1px;
}

.btn_ID:hover{
    
    color: rgb(197, 22, 22);
	text-decoration: underline;
	cursor: pointer;
}


.container-tagDuração a input {
    margin: 1px;
    
}



.container-legenda{
    border-style: ridge;
    background-color: whitesmoke;
    padding: 10px;

}

.container-update{
    border-style: ridge;
    background-color: whitesmoke;
    padding: 10px;

}




.container-area{
    display: flex;
    flex-direction: column;
    border-style: ridge;
    background-color: rgb(253, 211, 162);
    padding: 10px;
    gap: 10px;
}

.container-ImprimiTexto{
    border-style: ridge;
    background-color: rgb(253, 211, 162);
    padding: 10px;
}